mixin thumbs(text, css)
  .Mosaico-link
    a(href='visualizador.html')
      - var seed = Math.random()
      img.img-responsive(src='https://unsplash.it/800/800?random&seed=' + seed , alt='One')
      .overlay
        .text
          span.glyphicon.glyphicon-zoom-in
mixin mosaico()
  .Mosaico-Embed
    a.Mosaico-link(href='visualizador.html').Embed.Embed--1by1
      - var seed = Math.random()
      img(src='https://unsplash.it/300/300?random&seed=' + seed)
      .overlay
        .text
          span.glyphicon.glyphicon-zoom-in

mixin gallery(end)
  a.Mosaico-link(href="visualizador.html")
    img(src=end, class='img-fluid')
    .overlay
      .text
        span.glyphicon.glyphicon-zoom-in
mixin checkbox(text)
  .checkbox
    label
      input(type='checkbox')
      =text
mixin carousel(id, img, idc, text, flag, autor)
  .carousel.slide(data-ride='carousel', id=id)
    if flag
      // Cabeçalho
      .corousel-header.l-box.hidden-xs
        span.eta: a(href='#') Imagens do Senado
        span: a(href='#') Banco de imagens ›
        span: a(href='#') Galera fotográficas ›
    // Indicators
    ol.carousel-indicators
      li.active(data-target=idc, data-slide-to='0')
      li(data-target=idc, data-slide-to='1')
      li(data-target=idc, data-slide-to='2')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      mixin item-carousel
        .Embed.Embed--5by2
          img(src=img, alt=text)
        .l-box.Caption.Caption--film
          .zeta
            =text
          if autor
            .text-right
              small
                span.glyphicon.glyphicon-camera &nbsp;
                | Fotografo/Agencia Senado
      .item.active
        +item-carousel
      .item
        +item-carousel
      .item
        +item-carousel

    // Controls
    a.left.carousel-control(href=idc, role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href=idc, role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next


mixin modal(id, header)
  .modal.fade(id=id, tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        if header
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Modal title
        .modal-body
          block
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Fechar
        //  button.btn.btn-primary(type='button') Save changes

mixin buscar
  .Flag.Apex--default
    .Flag-figure
      .epsilon
        span.glyphicon.glyphicon-search
    .Flag-body.delta
      | Buscar
  form
    .Arrange
      .Arrange-fill
        input.form-control(type='text', placeholder='insira palavra(s)-chave')
      .Arrange-fit
        a.btn.btn-success(href='resultados.html') Buscar
mixin filtros
  .Flag.Apex--default
    .Flag-figure
      .epsilon
        span.glyphicon.glyphicon-equalizer
    .Flag-body.delta
      | Filtros
  form
    .form-group
      label(for='tirada') Tirada na data
      input#tirada.form-control(placeholder='DD/MM/AA')
    .form-group
      label(for='senador') Senador
      .form-group
        select#nome.form-control
          option Nome
          option a
          option b
          option c
      .form-group
        select#partido.form-control
          option Partido
          option a
          option b
          option c
      .form-group
        select#estado.form-control
          option Estado
          option a
          option b
          option c
    .form-group
      label(for='AtividadeLegislativa') Atividade Legislativa
      +checkbox('Plenário')
      +checkbox('Projetos e Matérias')
      +checkbox('Comissões')
      label(for='Vitrini') Senado Notícias
      +checkbox('Vitrini')
    button.btn.btn-primary(type='submit') Filtrar
mixin carousel-buttons
  .carousel-buttons
    a(href='https://unsplash.it/1280/768.jpg?image=251', title='Full Screem' data-toggle="lightbox"  data-gallery="example-gallery")
      span.glyphicon.glyphicon-resize-full
    a(href='#', title='Compartilhar')
      span.glyphicon.glyphicon-share-alt
    a(href='#', title='Download')
      span.glyphicon.glyphicon-cloud-download
