mixin thumbs(text, css)
  .col-md-2.u-spacer--lg
    .Mosaico-link
      a(href='https://static.pexels.com/photos/402023/pexels-photo-402023.jpeg')
        img.img-responsive(src='https://static.pexels.com/photos/402023/pexels-photo-402023.jpeg', alt='One')
        .overlay
          .text
            span.glyphicon.glyphicon-zoom-in
mixin mosaico()
  a.Mosaico-link(href='#').Embed.Embed--1by1
    - var seed = Math.random()
    img(src='https://unsplash.it/300/300?random&seed=' + seed)
    .overlay
      .text
        span.glyphicon.glyphicon-zoom-in

mixin carousel(id, img, idc)
  .carousel.slide(data-ride='carousel', id=id)
    // Indicators
    ol.carousel-indicators
      li.active(data-target=id, data-slide-to='0')
      li(data-target=id, data-slide-to='1')
      li(data-target=id, data-slide-to='2')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active
        img(src=img, alt='...')
        .carousel-caption
          | ...
      .item
        img(src=img, alt='...')
        .carousel-caption
          | ...
      .item
        img(src=img, alt='...')
        .carousel-caption
          | ...
    // Controls
    a.left.carousel-control(href=idc, role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href=idc, role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
