
.PortalTopo
  .PortalTopo-id.PortalTopo-id--narrow
    .PortalTopo-title
      a(href='index.html'): img.img-responsive(src='/assets/senadofotos.svg', width='220px')
  .PortalTopo-togglers.visible-xs
    button.PortalTopo-toggler--search(data-toggle='collapse', data-target='.PortalTopo-busca')
      .Icon.Icon--search.Icon--md
    button.PortalTopo-toggler--menu(data-toggle='collapse', data-target='.Nav--principal')
      .Icon.Icon--menu.Icon--md

  .PortalTopo-busca.collapse.pull-right
    form.Az(role='search' action='http://www6g.senado.gov.br/busca/')
      .input-group
        input.Az-input.form-control(type='text', placeholder='Busca', autocomplete='off', name='q')
        span.input-group-btn
          button.btn.btn-default(type='submit', aria-label='Buscar')
            .glyphicon.glyphicon-search.text-muted

mixin home(title, link)
  li.normalis-sm
    .u-textNoWrap.Box.Box--x
      .Apex.Apex--lg.Apex--portal.u-spacer
        a.delta(href=link) #{title}
        != ' &nbsp; '
        span.glyphicon.glyphicon-menu-right.text-muted

mixin caret()
  = ' '
  span.caret


mixin item(title)
  a.dropdown-toggle.dropdown-toggle--arrow(href='#', data-toggle='dropdown')
    | #{title}
    +caret()

mixin link(href, target)
  li: .Flag
    .Flag-figure
      .glyphicon.glyphicon-menu-right.glyphicon--bullet.micro
    .Flag-body
      a(href=href target=target)
        block

nav#s-menu.Nav--principal.navbar.navbar-default.navbar-collapse.collapse(role="navigation").yamm
  ul.nav.navbar-nav.hide

nav.Nav--secundaria.hidden-xs

  ul.nav.navbar-nav.pull-right
    li: a(href='resultados.html') Galeria
    li: a(href='exposicoes.html') Exposições
    li: a(href='#') Melhores
    li: a(href='vitrine.html') Vitrine
