
.PortalTopo
  .PortalTopo-id.PortalTopo-id--narrow
    .PortalTopo-title
      img(src='/assets/logo.svg')
  .PortalTopo-togglers.visible-xs
    button.PortalTopo-toggler--search(data-toggle='collapse', data-target='.PortalTopo-busca')
      .Icon.Icon--search.Icon--md
    button.PortalTopo-toggler--menu(data-toggle='collapse', data-target='.Nav--principal')
      .Icon.Icon--menu.Icon--md
  .PortalTopo-tools
    .SocialBar.SocialBar--horizontal.hidden-xs.text-right(class='/')
      a.btn.ShareIcon.ShareIcon--circle.ShareIcon--light.ShareIcon--facebook(href='http://www.facebook.com/senadofederal', target='_blank', title='Facebook', alt='Facebook')
      = ' '
      a.btn.ShareIcon.ShareIcon--circle.ShareIcon--light.ShareIcon--twitter(href='http://twitter.com/senadofederal', target='_blank', title='Twitter', alt='Twitter')
      = ' '
      a.btn.ShareIcon.ShareIcon--circle.ShareIcon--light.ShareIcon--youtube(href='http://www.youtube.com/agenciasenadoBR', target='_blank', title='YouTube', alt='YouTube')

  .PortalTopo-busca.collapse
    form.Az(role='search' action='http://www6g.senado.gov.br/busca/')
      .input-group
        input.Az-input.form-control(type='text', placeholder='Busca', autocomplete='off', name='q')
        span.input-group-btn
          button.btn.btn-default(type='submit', aria-label='Buscar')
            .glyphicon.glyphicon-search.text-muted
      .u-posRelative
        .Az-place
          .Box
            .List.Box
              .eta.text-muted O quê você procura?

mixin home(title, link)
  li.normalis-sm
    .u-textNoWrap.Box.Box--x
      .Apex.Apex--lg.Apex--portal.u-spacer
        a.delta(href=link) #{title}
        != ' &nbsp; '
        span.glyphicon.glyphicon-menu-right.text-muted

mixin caret()
  = ' '
  span.caret


mixin item(title)
  a.dropdown-toggle.dropdown-toggle--arrow(href='#', data-toggle='dropdown')
    | #{title}
    +caret()

mixin link(href, target)
  li: .Flag
    .Flag-figure
      .glyphicon.glyphicon-menu-right.glyphicon--bullet.micro
    .Flag-body
      a(href=href target=target)
        block

nav#s-menu.Nav--principal.navbar.navbar-default.navbar-collapse.collapse(role="navigation").yamm
  ul.nav.navbar-nav

    li.dropdown.yamm-fw
      +item('Institucional')

      ul.dropdown-menu.dropdown-menu--mega.dropdown-menu--row
        +home('Institucional', 'http://www12.senado.leg.br/institucional/')
        li.Box.Box--y.normalis-sm
          .Segments.Segments--lg.clearfix
            .col-sm-8
              //- p.Apex.eta-sm.normalis-xs Institucional
              .row
                .col-sm-6
                  ul.Segments
                    +link("http://www12.senado.leg.br/institucional/arquivo")
                      | Arquivo
                    +link("http://www12.senado.leg.br/institucional/biblioteca")
                      | Biblioteca
                    +link("https://www12.senado.leg.br/institucional/datasenado")
                      | DataSenado
                    +link("http://www.senado.leg.br/transparencia/LAI/secrh/diretores_inter.pdf", target="_blank")
                      | Diretores e Coordenadores
                    +link("https://www12.senado.leg.br/institucional/escola-de-governo")
                      | Escola de Governo
                    +link("http://www12.senado.leg.br/institucional/estrutura")
                      | Estrutura Administrativa
                    +link("http://livraria.senado.leg.br/")
                      | Livraria
                    +link("http://www12.senado.leg.br/institucional/museu")
                      |Museu
                    +link("http://www12.senado.leg.br/institucional/omv")
                      | Observatório da Mulher
                    +link("http://www12.senado.leg.br/institucional/ouvidoria")
                      | Ouvidoria
                    +link("http://www12.senado.leg.br/institucional/presidencia")
                      |Presidência
                    +link("http://www12.senado.leg.br/institucional/procuradoria")
                      |Procuradoria da Mulher

                .col-sm-6
                  ul.Segments
                    +link("https://www12.senado.leg.br/institucional/eventos")
                      | Agenda de Eventos
                    +link("https://www12.senado.leg.br/institucional/escola-de-governo/cursos-on-line")
                      | Ensino a Distância
                    +link("http://www12.senado.gov.br/institucional/falecomosenado")
                      | Fale com o Senado
                    +link("http://www.senado.gov.br/transparencia/formtransp.asp")
                      | Lei de Acesso à Informação
                    +link("https://www12.senado.leg.br/institucional/perguntas-frequentes")
                      | Perguntas Frequentes
                    +link("http://www25.senado.leg.br/web/atividade/conselhos")
                      | Premiações
                    +link("http://www12.senado.leg.br/institucional/redes-sociais/")
                      | Redes Sociais

            .col-sm-4
              ul.Segments
                li.milli.text-muted.Apex PROGRAMAS
                +link("http://www.senado.leg.br/senado/Programas/InfanciaePaz/")
                  | Infância e Paz
                +link("http://www12.senado.leg.br/jovemsenador")
                  | Jovem Senador
                +link("http://www12.senado.leg.br/institucional/programas/pro-equidade")
                  | Pró-Equidade
                +link("http://www12.senado.leg.br/institucional/estagio")
                  | Programa de Estágio
                +link("http://www2.congressonacional.leg.br/visite/")
                  | Visite o Senado
                +link("http://www12.senado.leg.br/institucional/programas/senado-inclusivo")
                  | Senado Inclusivo
                +link("http://www12.senado.leg.br/institucional/programas/senado-verde")
                  | Senado Verde


    li.dropdown
      +item('Senadores')
      ul.dropdown-menu.dropdown-menu--mega
        +home('Senadores', 'http://www25.senado.leg.br/web/senadores/')
        li.Box.Box--y.normalis-sm
          .Segments.Segments--lg.clearfix
            .col-sm-6
              ul.Segments
                li.text-muted.milli.Apex LEGISLATURA ATUAL
                +link("http://www25.senado.leg.br/web/senadores/em-exercicio")
                  | Senadores em exercício
                +link("http://www25.senado.leg.br/web/senadores/fora-de-exercicio")
                  | Senadores fora de exercício
                +link("http://www25.senado.leg.br/web/senadores/comissao-diretora")
                  | Comissão Diretora
                +link("http://www25.senado.leg.br/web/senadores/liderancas-parlamentares")
                  | Lideranças Parlamentares
            .col-sm-6
              ul.Segments
                li.text-muted.milli.Apex LEGISLATURAS ANTERIORES
                +link("http://www25.senado.leg.br/web/senadores/legislaturas-anteriores")
                  | Senadores de legislaturas anteriores

    li.dropdown.yamm-fw
      +item('Atividade Legislativa')
      ul.dropdown-menu.dropdown-menu--mega.dropdown-menu--row
        +home('Atividade Legislativa', 'http://www25.senado.leg.br/web/atividade')
        li.Box.Box--y.normalis-sm
          .Segments.Segments--lg.clearfix
            .col-sm-3
              ul.Segments
                li.milli.text-muted.Apex PLENÁRIO
                +link("http://www25.senado.leg.br/web/atividade/sessao-plenaria")
                  | Sessão Plenária
                +link("http://www.senado.gov.br/atividade/plenario/ordemdodia")
                  | Ordem do Dia do Senado
                +link("http://www.senado.gov.br/atividade/plenario/ordemdodia/default.asp?casa=CN")
                  | Ordem do Dia do Congresso
                +link("http://www25.senado.leg.br/web/atividade/pronunciamentos")
                  | Pronunciamentos
                +link("http://www25.senado.leg.br/web/atividade/questoes-de-ordem")
                  | Questões de Ordem
                +link("http://www25.senado.leg.br/web/atividade/votacoes-nominais")
                  | Votações Nominais

            .col-sm-3
              ul.Segments.u-spacer--xl
                li.milli.text-muted.Apex PROJETOS E MATÉRIAS
                +link("http://www25.senado.leg.br/web/atividade/materias")
                  | Pesquisa de Matérias
                +link("http://www25.senado.leg.br/web/atividade/materias/acompanhamento/minhas-materias")
                  | Acompanhamento de Matérias

              ul.Segments
                li.milli.text-muted.Apex RELATÓRIOS LEGISLATIVOS
                +link("http://www25.senado.leg.br/web/atividade/resenhas")
                  | Relatórios Mensais
                +link("http://www25.senado.leg.br/web/atividade/relatorio-da-presidencia")
                  | Relatórios da Presidência
                +link("http://www8d.senado.gov.br/dwweb/abreRap.html?docId=2501477")
                  | Estatísticas

            .col-sm-3
              ul.Segments.u-spacer--xl
                li.milli.text-muted.Apex COMISSÕES
                +link("http://legis.senado.leg.br/comissoes/#id54")
                  | Agenda
                +link("http://legis.senado.leg.br/comissoes/pesquisa_comissao?tipo=prm,sub,cpi,tmp,mpv,vet&casa=sf,cn")
                  | Lista das Comissões

              ul.Segments
                li.milli.text-muted.Apex LEGISLAÇÃO
                +link("http://www25.senado.leg.br/web/atividade/legislacao")
                  | Pesquisa de Legislação
                +link("http://legis.senado.leg.br/legislacao/ListaTextoSigen.action?norma=579494&id=16434803&idBinario=16434817")
                  | Constituição Federal
                +link("http://www.senado.leg.br/legislacao/regsf/")
                  | Regimento Interno
                +link("http://www25.senado.leg.br/web/atividade/regimento-interno")
                  | Regimento Comum

            .col-sm-3
              ul.Segments.u-spacer--xl
                li.milli.text-muted.Apex ÓRGÃOS DO PARLAMENTO
                +link("http://www25.senado.leg.br/web/atividade/conselhos")
                  | Conselhos e Órgãos do Senado Federal
                +link("http://www25.senado.leg.br/web/atividade/conselhos#COCN")
                  | Conselhos e Órgãos do Congresso Nacional
                +link("http://www25.senado.leg.br/web/atividade/conselhos")
                  | Frentes Parlamentares
                +link("http://www25.senado.leg.br/web/atividade/conselhos")
                  | Grupos Parlamentares

              ul.Segments
                li.milli.text-muted.Apex AUTORIDADES
                +link("http://www25.senado.leg.br/web/atividade/autoridades")
                  | Autoridades aprovadas



    li.dropdown
      +item('Notícias')
      ul.dropdown-menu.dropdown-menu--mega
        li.Box.Box--y.Segments.Segments--lg.normalis-sm.clearfix
          .col-sm-12
            ul.Segments.Segments--md
              li: a(href="http://www12.senado.leg.br/noticias/") Agência Senado
              li: a(href="http://www12.senado.leg.br/radio/") Rádio Senado
              li: a(href="http://www.senado.leg.br/noticias/tv/") TV Senado
              li: a(href="http://www12.senado.leg.br/jornal/") Jornal do Senado

    li.dropdown
      +item('Publicações')

      ul.dropdown-menu.dropdown-menu--mega
        +home('Publicações', 'http://www.senado.leg.br/publicacoes')
        li.Box.Box--y.normalis-sm
          .Segments.Segments--lg.clearfix
            .col-sm-12
              ul.Segments
                +link("http://www.senado.leg.br/publicacoes/anais/asp/PQ_Pesquisar.asp")
                  | Anais do Senado Federal
                +link("http://legis.senado.leg.br/legislacao/ListaTextoSigen.action?norma=579494&id=16434803&idBinario=16434817")
                  | Constituição Federal
                +link("http://legis.senado.gov.br/diarios/PublicacoesOficiais")
                  | Diários do Senado Federal
                +link("http://legis.senado.gov.br/diarios/PublicacoesOficiais")
                  | Diários do Congresso Nacional
                +link("http://www12.senado.leg.br/publicacoes/estudos-legislativos/homeestudoslegislativos")
                  | Estudos Legislativos
                +link("https://www12.senado.leg.br/orcamento/documentos/pages/estudos-orcamentarios")
                  | Estudos Orçamentários
                +link("http://livraria.senado.leg.br/")
                  | Livraria
                +link("https://www25.senado.leg.br/web/atividade/regimento-interno")
                  | Regimento Interno
                +link("https://www12.senado.leg.br/ril")
                  | Revista de informação Legislativa

    li.dropdown
      +item('Orçamento')

      ul.dropdown-menu.dropdown-menu--mega
        +home('Orçamento da União', 'https://www12.senado.leg.br/orcamento')
        li.Box.Box--y.normalis-sm
          .Segments.Segments--lg.clearfix
            .col-sm-12
              ul.Segments
                +link("https://www12.senado.leg.br/orcamento/documentos/pages/estudos-orcamentarios")
                  | Estudos Orçamentários
                +link("https://www12.senado.leg.br/orcamento/loa")
                  | Orçamento Anual
                +link("http://www12.senado.leg.br/orcamentofacil")
                  | Orçamento Fácil
                +link("http://www9.senado.gov.br/painelcidadao")
                  | Painel Cidadão
                +link("http://www9.senado.gov.br/painelemendas")
                  | Painel de Emendas
                +link("https://www12.senado.leg.br/orcamento/sigabrasil")
                  | Siga Brasil - Sistema de informações Orçamentárias


    li.dropdown.yamm-fw
      +item('Transparência')

      ul.dropdown-menu.dropdown-menu--mega.dropdown-menu--row
        +home('Transparência', 'http://www12.senado.gov.br/transparencia')
        li.Box.Box--y.normalis-sm
          .Segments.Segments--lg.clearfix
            .col-sm-3
              ul.Segments
                li.milli.text-muted.Apex TRANSPARÊNCIA
                +link("http://www12.senado.leg.br/transparencia/ctcs/conselho-de-transparencia")
                  | Conselho de Transparência
                +link("https://www12.senado.leg.br/transparencia/leg/legislacao-relacionada")
                  | Legislação Relacionada
                +link("http://www12.senado.gov.br/transparencia/formtransparencia")
                  | Serviço de Informação ao Cidadão

            .col-sm-3
              ul.Segments
                li.milli.text-muted.Apex SENADORES
                +link("https://www12.senado.leg.br/transparencia/sen/auxilio-moradia-e-imoveis-funcionais")
                  | Auxílio Moradia e Imóvel funcional
                +link("http://www25.senado.leg.br/web/transparencia/sen/")
                  | Cotas para Exercício da Atividade Parlamentar
                +link("http://www25.senado.leg.br/web/transparencia/sen/")
                  | Subsídios
                +link("http://www12.senado.leg.br/transparencia/sen/viagens-oficiais")
                  | Viagens Oficiais
                +link("http://www25.senado.leg.br/web/transparencia/sen/")
                  | Outras Informações

            .col-sm-3
              ul.Segments.u-spacer--xl
                li.milli.text-muted.Apex GESTÃO DE PESSOAS
                +link("http://www12.senado.leg.br/transparencia/rh/concursos/concursos")
                  | Concurso Público
                +link("http://www12.senado.leg.br/transparencia/rh/passagens-e-diarias")
                  | Diárias e Passagens
                +link("http://www.senado.gov.br/transparencia/rh/servidores/nova_consulta.asp")
                  | Remuneração de Servidores
                +link("https://www12.senado.leg.br/transparencia/rh/HP-recursos-humanos")
                  | Outras Informações

              ul.Segments
                li.milli.text-muted.Apex GESTÃO E GOVERNANÇA
                +link("http://www6g.senado.leg.br/transparencia/gestgov/patrimonio/")
                  | Bens Patrimoniais
                +link("http://www6g.senado.leg.br/transparencia/gestgov/consumo/")
                  | Consumo de Material
                +link("https://www12.senado.leg.br/transparencia/gestgov/HP-gestao-e-governanca")
                  | Outras Informações

            .col-sm-3
              ul.Segments.u-spacer--xl
                li.milli.text-muted.Apex ORÇAMENTO E FINANÇAS
                +link("https://www12.senado.leg.br/transparencia/orcamento-e-financas/orcamento-do-senado-federal")
                  | Orçamento do Senado
                +link("http://www.senado.gov.br/transparencia/gestgov/recdesp/despesas/pesquisa.asp")
                  | Despesas do Senado
                +link("http://www.senado.gov.br/transparencia/gestgov/recdesp/receitas/pesquisa.asp")
                  | Receitas do Senado
                +link("https://www12.senado.leg.br/transparencia/orcamento-e-financas/orcamento-e-financas")
                  | Outras Informações

              ul.Segments
                li.milli.text-muted.Apex LICITAÇÕES E CONTRATOS
                +link("http://www12.senado.leg.br/transparencia/licitacoes-e-contratos/licitacoes")
                  | Licitações
                +link("http://www12.senado.leg.br/transparencia/licitacoes-e-contratos/contratos")
                  | Contratos
                +link("http://www.senado.leg.br/transparencia/liccontr/contratos/contratos.asp?e=&o=&mdo=1")
                  | Contratos de Mão de Obra
                +link("http://www.senado.leg.br/transparencia/liccontr/licitacoes/licitacoes.asp?m=P")
                  | Pregões Eletrônicos

    li.dropdown
      +item('e-Cidadania')

      ul.dropdown-menu.dropdown-menu--mega
        +home('e-Cidadania', 'http://www12.senado.leg.br/ecidadania')
        li.Box.Box--y.normalis-sm
          .Segments.Segments--lg.clearfix
            .col-sm-12
              ul.Segments.Segments--md.u-textNoWrap
                li: a(href="http://www12.senado.leg.br/ecidadania/principalideia") Proponha uma nova lei
                li: a(href="http://www12.senado.leg.br/ecidadania/principalaudiencia") Participe dos debates
                li: a(href="http://www12.senado.leg.br/ecidadania/principalmateria") Opine sobre projetos de lei


nav.Nav--secundaria.hidden-xs

  ul.nav.navbar-nav
    li: a(href='http://www12.senado.leg.br/institucional/presidencia') Presidência
    li: a(href='http://www12.senado.leg.br/institucional/ouvidoria') Ouvidoria
    li: a(href='http://www12.senado.leg.br/institucional/procuradoria') Procuradoria da Mulher
    li: a(href='http://www12.senado.leg.br/institucional/omv') Observatório da Mulher
