extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .full-container.u-spacer--xl.l-box--screen(class='+graydeep')
    .container.u-posRelative
      .row
        .col-md-12.u-spacer--xl
          a.milli.white(href='#')
            .glyphicon.glyphicon-arrow-left
            | &nbsp; Voltar para mostra
        .col-md-12
          #carousel-custom.carousel.slide(data-ride='carousel')
            .carousel-outer
              // Wrapper for slides
              .carousel-inner.u-spacer--xl
                mixin item(active, embed, src, clss)
                  .item(class=active)
                    div(class=embed)
                      img(src=src, alt='', class=clss)
                +item('active ', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/1280x768?image=0&text=slide0','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/800x800?image=1&text=slide1','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/500x800?image=2&text=slide2','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/900x400?image=3&text=slide3','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/780x340?image=4&text=slide4','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/800x600?image=5&text=slide5','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/1240x780?image=6&text=slide6','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/1240x800?image=7&text=slide7','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/900x500?image=8&text=slide8','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/400x800?image=9&text=slide9','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/400x800?image=10&text=slide10','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/400x800?image=11&text=slide11','')
                +item('', 'Embed Embed--1by1 Embed--fixed img-responsive', 'https://unsplash.it/400x800?image=12&text=slide12','')
              // Controls
              .white.text-center Nome do Album
              a.left.carousel-control(href='#carousel-custom', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
              a.right.carousel-control(href='#carousel-custom', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
            // Indicators mini thumbs
            .carousel-buttons.hidden-xs
              a.arrow-left(href='#' title='Voltar')
                span.glyphicon.glyphicon-chevron-left
              a.arrow-right(href='#' title='Avançar')
                span.glyphicon.glyphicon-chevron-right
            .carousel-wrap(data-simplebar)
              ol.carousel-indicators
                mixin li(active, num, src)
                  li(class=active, data-target='#carousel-custom', data-slide-to=num)
                    img(src=src, alt='')
                +li('active','0', 'https://unsplash.it/50x50?image=0&text=slide0')
                +li('','1', 'https://unsplash.it/50x50?image=1&text=slide1')
                +li('','2', 'https://unsplash.it/50x50?image=2&text=slide2')
                +li('','3', 'https://unsplash.it/50x50?image=3&text=slide3')
                +li('','4', 'https://unsplash.it/50x50?image=4&text=slide4')
                +li('','5', 'https://unsplash.it/50x50?image=5&text=slide5')
                +li('','6', 'https://unsplash.it/50x50?image=6&text=slide6')
                +li('','7', 'https://unsplash.it/50x50?image=7&text=slide7')
                +li('','8', 'https://unsplash.it/50x50?image=8&text=slide8')
                +li('','9', 'https://unsplash.it/50x50?image=9&text=slide9')
                +li('','10', 'https://unsplash.it/50x50?image=10&text=slide10')
                +li('','11', 'https://unsplash.it/50x50?image=11&text=slide11')
                +li('','12', 'https://unsplash.it/50x50?image=12&text=slide12')
            +carousel-buttons
  .container
    .row
      .col-md-12.Segments.u-spacer--xl
        .Apex.Apex--default.delta.u-spacer--lg Outras Vitrines
      .col-md-12
        .u-spacer--xl
          .Deck.Deck--strip.Deck--row
            - for (var i = 0; i < 4; i++) {
              .Card.u-sizelof4
                .Card-body.Segments.u-spacer--xl
                  +thumbs
                  span.label.label-default.milli
                    .glyphicon.glyphicon-picture
                    | &nbsp; 312
                  h3.eta 
                    i Titulo
            - }
        .u-spacer--xl
          .Deck.Deck--strip.Deck--row
            - for (var i = 0; i < 4; i++) {
              .Card.u-sizelof4
                .Card-body.Segments.u-spacer--xl
                  +thumbs
                  span.label.label-default.milli
                    .glyphicon.glyphicon-picture
                    | &nbsp; 312
                  h3.eta 
                    i Titulo
            - }
        .u-spacer--xl
          .Deck.Deck--strip.Deck--row
            - for (var i = 0; i < 4; i++) {
              .Card.u-sizelof4
                .Card-body.Segments.u-spacer--xl
                  +thumbs
                  span.label.label-default.milli
                    .glyphicon.glyphicon-picture
                    | &nbsp; 312
                  h3.eta 
                    i Titulo
            - }
  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="js/main.js")
