extends /design.shell/src/layout

block stylesheets
  link(rel="stylesheet" href="styles/vendors.css")
  link(rel="stylesheet" href="styles/main.css")

block portaltopo

  .container
    include pug/portaltopo

block navglobal
  include pug/partials/navglobal

include pug/partials/mixins

block content
  .full-container.u-spacer--xl.l-box--screen(class='+graydeep')
    .container.u-posRelative
      .row
        .col-md-12
          #carousel-custom.carousel.slide(data-ride='carousel')
            .carousel-outer
              // Wrapper for slides
              .carousel-inner
                mixin item(active, embed, src, clss)
                  .item(class=active)
                    div(class=embed)
                      img(src=src, alt='', class=clss)
                +item('active ', 'noEmbed', 'https://unsplash.it/1280x3800?image=0&text=slide0','')
                +item('', 'noEmbed', 'https://unsplash.it/800x800?image=1&text=slide1','')
                +item('', 'noEmbed', 'https://unsplash.it/500x800?image=2&text=slide2','')
                +item('', 'noEmbed', 'https://unsplash.it/900x400?image=3&text=slide3','')
                +item('', 'noEmbed', 'https://unsplash.it/780x340?image=4&text=slide4','')
                +item('', 'noEmbed', 'https://unsplash.it/800x600?image=5&text=slide5','')
                +item('', 'noEmbed', 'https://unsplash.it/1240x780?image=6&text=slide6','')
                +item('', 'noEmbed', 'https://unsplash.it/1240x800?image=7&text=slide7','')
                +item('', 'noEmbed', 'https://unsplash.it/900x500?image=8&text=slide8','')
                +item('', 'noEmbed', 'https://unsplash.it/400x800?image=9&text=slide9','')
                +item('', 'noEmbed', 'https://unsplash.it/400x800?image=10&text=slide10','')
                +item('', 'noEmbed', 'https://unsplash.it/400x800?image=11&text=slide11','')
                +item('', 'noEmbed', 'https://unsplash.it/400x800?image=12&text=slide12','')
              // Controls
              a.left.carousel-control(href='#carousel-custom', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
              a.right.carousel-control(href='#carousel-custom', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
            // Indicators
            .carousel-buttons
              a.arrow-left(href='#' title='Voltar')
                span.glyphicon.glyphicon-chevron-left
              a.arrow-right(href='#' title='Avançar')
                span.glyphicon.glyphicon-chevron-right
            .carousel-wrap(data-simplebar)
              ol.carousel-indicators
                mixin li(active, num, src)
                  li(class=active, data-target='#carousel-custom', data-slide-to=num)
                    img(src=src, alt='')
                +li('active','0', 'https://unsplash.it/50x50?image=0&text=slide0')
                +li('','1', 'https://unsplash.it/50x50?image=1&text=slide1')
                +li('','2', 'https://unsplash.it/50x50?image=2&text=slide2')
                +li('','3', 'https://unsplash.it/50x50?image=3&text=slide3')
                +li('','4', 'https://unsplash.it/50x50?image=4&text=slide4')
                +li('','5', 'https://unsplash.it/50x50?image=5&text=slide5')
                +li('','6', 'https://unsplash.it/50x50?image=6&text=slide6')
                +li('','7', 'https://unsplash.it/50x50?image=7&text=slide7')
                +li('','8', 'https://unsplash.it/50x50?image=8&text=slide8')
                +li('','9', 'https://unsplash.it/50x50?image=9&text=slide9')
                +li('','10', 'https://unsplash.it/50x50?image=10&text=slide10')
                +li('','11', 'https://unsplash.it/50x50?image=11&text=slide11')
                +li('','12', 'https://unsplash.it/50x50?image=12&text=slide12')
            +carousel-buttons
  .container
    .row
      .col-md-12.Segments.u-spacer--xl
        .Apex.Apex--default.delta.u-spacer--lg Outras Vitrines
      .col-md-12
        .row.u-spacer--xl
          - for (var i = 0; i < 6; i++) {
            .col-md-2.col-xs-6.u-spacer--xl
              +thumbs
            - }
  script(src="//code.jquery.com/jquery-3.1.1.min.js")
  script(src="js/main.js")
